<body>
<h1>Perfil de {{user.name}}</h1>
<p>Email: {{user.email}}</p>
<p>você é um {{user.role}}</p>
<form action="/users/logout" method="POST">
    <button type="submit" class="btn btn-primary">Deslogar</button>
</form>
</body>